<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Patient Medical History</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/timeline.css}"/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
	<!-- include summernote css/js -->
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
    <script th:src="@{/js/common/bootstrap-datepicker.js}"></script>
    <script th:src="@{/js/doctor.js}"></script>
</head>

<body>



<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button"
				class="navbar-toggle navbar-toggle-sidebar collapsed">
				MENU</button>
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"> Doctor Dashboard </a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<form class="navbar-form navbar-left" method="GET" role="search">
				<div class="form-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</form>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
	
<div class="container-fluid">
	<div class="row">
	  <div class="col-md-4">
	    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <b><span> Patient Details </span></b>
                <button class="btn btn-info dtn-sm pull-right">
                	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </button>
        		<div class="clearfix"></div>
            </div>
            
            <div class="panel-body">
                <div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="card card-inverse">
							<div class="card-block">
								<div class="row">
									<div class="col-md-8 col-sm-8">
									<h2 class="card-title"><strong><span th:utext="${patient.firstName +' '+ patient.lastName}"></span></strong></h2>
									<p class="card-text"><strong>DOB: </strong> <span th:utext="${patient.dob}"></span> </p>
									<p class="card-text"><strong>Residential Address: </strong> <span th:utext="${patient.residentialAddress}"></span> </p>
									<p><strong>Contact Details: </strong>
									<span th:utext="${patient.mobileNumber}"></span>,
									<span th:utext="${patient.alternateNumber}"></span>
									</p>
									</div>
									<div class="col-md-4 col-sm-4 text-center">
										<img th:src="@{/images/avatar.webp}" class="img-responsive center-block" style="border-radius:50%;" width="250" height="250" alt="profile"/>
									</div> 
								</div>
							</div>
							</div>
						</div>
					</div> 
				</div>
            </div>
            
        </div>
        </div>
        
        <div class="panel-group" style="margin-top:40px">
	        <div class="panel panel-warning">
	            <div class="panel-heading">
	            <b><span> Medical History Form </span></b>
	                <button class="btn btn-info dtn-sm pull-right">
	                	<span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
	                </button>
	        		<div class="clearfix"></div>
	            </div>
	            
	            <div class="panel-body">
                	<form autocomplete="off" action="#" th:action="@{/patient/addMedicalHistory}"
		                  th:object="${medicalhistory}" method="POST" class="form-horizontal"
		                  role="form">
		                <input type="hidden" name="patientId" th:value="${patient.patientId}">
	                    
	                     
	                     <div class="form-group">
	                     	<div class="col-sm-12">
	                     	
	                     	
	                     	<div class="form-group">
  							<label for="exampleFormControlTextarea1">Date when medical history was updated:</label>
  								<input type="date" class="form-control" th:field="*{dateInsert}" id="dateInsert">
							</div>
							
							<div class="form-group">
  							<label for="exampleFormControlTextarea1">Chief_Complaint_CC:</label>
  							<textarea class="form-control rounded-0" th:field="*{CC}" rows="4"></textarea>
							</div>
							
							<div class="form-group">
  							<label for="exampleFormControlTextarea1">History_of_present_illness_HPL:</label>
  							<textarea class="form-control rounded-0" th:field="*{HPI}" id="exampleFormControlTextarea1" rows="4"></textarea>
							</div>
							
							<div class="form-group">
  							<label for="exampleFormControlTextarea1">Past_medical_histor_PMH:</label>
  							<textarea class="form-control rounded-0" th:field="*{PMH}" id="exampleFormControlTextarea1" rows="4"></textarea>
							</div>
							
							<div class="form-group">
  							<label for="exampleFormControlTextarea1">Review_of_organ_system_ROS:</label>
  							<textarea class="form-control rounded-0" th:field="*{ROS}" id="exampleFormControlTextarea1" rows="4"></textarea>
							</div>
							
							<div class="form-group">
  							<label for="exampleFormControlTextarea1">Family_diseases_FD: </label>
  							<textarea class="form-control rounded-0" th:field="*{FD}" id="exampleFormControlTextarea1" rows="4"></textarea>
							</div>
							
							<div class="form-group">
  							<label for="exampleFormControlTextarea1">Childhood_diseases_CD:</label>
  							<textarea class="form-control rounded-0" th:field="*{CD}" id="exampleFormControlTextarea1" rows="4"></textarea>
							</div>
							
							<div class="form-group">
  							<label for="exampleFormControlTextarea1">Allergeies:</label>
  							<textarea class="form-control rounded-0" th:field="*{allergies}"  id="exampleFormControlTextarea1" rows="4"></textarea>
							</div>
							
							<div class="form-group">
  							<label for="exampleFormControlTextarea1">Is_Diabetic: </label>
  							<input type="checkbox" th:field="*{isDiabetic}" th:value="${isDiabetic}">
							</div>
							
							<div class="form-group">
  							<label for="exampleFormControlTextarea1">PrescribeMedicine_PM: </label>
  							<textarea class="form-control rounded-0" th:field="*{PM}" id="exampleFormControlTextarea1" rows="4"></textarea>
							</div>
	                     	</div>
	                     </div>
		
		                <div class="form-group">
		                    <div class="col-sm-12">
		                        <button type="submit" class="btn btn-success btn-block">Submit</button>
		                    </div>
		                </div>
		
		                <h2><span class="text-success" th:utext="${successMessage}"></span></h2>
		
		            </form>
	            </div>
	            </div>
	    </div>
	  </div>
	  
	  <div class="col-md-8">
	  <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-info">
            <div class="panel-heading">
                <b><span> Patient Medical History Review </span></b>
                <button class="btn btn-info dtn-sm pull-right">
                	<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                </button>
        		<div class="clearfix"></div>
            </div>
            
            <div class="panel-body">
                <div class="container-fluid">
				    <div class="qa-message-list" id="wallmessages">
				    
				    				<div class="message-item" id="m16" th:each="medicalhistory : ${medicalhistories}">
										<div class="message-inner">
											<div class="message-head clearfix">
												<div class="avatar pull-left"><a href=""><img class="timeline-img" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a></div>
												<div class="user-detail">
													<h5 class="handle">Hospital Name</h5>
													<div class="post-meta">
														<div class="asker-meta">
															<span class="qa-message-what"></span>
															
														</div>
													</div>
												</div>
											</div>
											<div class="qa-message-content">
												<p th:utext="${medicalhistory.dateInsert}"></p>	
												<p th:utext="${medicalhistory.CC}"></p>
												<p th:utext="${medicalhistory.HPI}"></p>
												<p th:utext="${medicalhistory.PMH}"></p>
												<p th:utext="${medicalhistory.ROS}"></p>
												<p th:utext="${medicalhistory.FD}"></p>
												<p th:utext="${medicalhistory.CD}"></p>
												<p th:utext="${medicalhistory.CD}"></p> 
												<p th:utext="${medicalhistory.allergies}"></p>
												<p th:utext="${medicalhistory.isDiabetic}"></p> 
												<p th:utext="${medicalhistory.PM}"></p>					
											</div>
										</div>
									</div>
								</div>
				</div>
            </div>
            
        </div>
    	</div> 
	  </div>
	</div>
</div>
</body>
</html>